<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ANIMALS</string>
	<string>BACK AT YOUR DOOR</string>
	<string>BEAUTIFUL GOODBYE</string>
	<string>BETTER THAT WE BREAK</string>
	<string>CANT STOP</string>
	<string>CHILLY WINTER</string>
	<string>COMING BACK FOR YOU</string>
	<string>DAYLIGHT</string>
	<string>DOIN DIRT</string>
	<string>DONT KNOW NOTHING</string>
	<string>DONT WANNA KNOW</string>
	<string>FEELINGS</string>
	<string>FIGURE IT OUT</string>
	<string>FORTUNE TELLER</string>
	<string>GET BACK IN MY LIFE</string>
	<string>GIVE A LITTLE MORE</string>
	<string>GOODNIGHT GOODNIGHT</string>
	<string>HANDS ALL OVER</string>
	<string>HARDER TO BREATHE</string>
	<string>HOW</string>
	<string>I CANT LIE</string>
	<string>IF I NEVER SAW YOUR FACE AGAIN</string>
	<string>INFATUATION</string>
	<string>IN YOUR POCKET</string>
	<string>IS ANYBODY OUT THERE</string>
	<string>IT WAS ALWAYS YOU</string>
	<string>JUST A FEELING</string>
	<string>KIWI</string>
	<string>LADYKILLER</string>
	<string>LAST CHANCE</string>
	<string>LEAVING CALIFORNIA</string>
	<string>LITTLE OF YOUR TIME</string>
	<string>LOSING MY MIND</string>
	<string>LOVE SOMEBODY</string>
	<string>LUCKY STRIKE</string>
	<string>MAKES ME WONDER</string>
	<string>MAPS</string>
	<string>MISERY</string>
	<string>MISS YOU LOVE YOU</string>
	<string>MOVES LIKE JAGGER</string>
	<string>MUST GET OUT</string>
	<string>MY HEART IS OPEN</string>
	<string>NEVER GONNA LEAVE THIS BED</string>
	<string>NEW LOVE</string>
	<string>NO CURTAIN CALL</string>
	<string>NOT COMING HOME</string>
	<string>NOT FALLING APART</string>
	<string>NOTHING LASTS FOREVER</string>
	<string>ONE MORE NIGHT</string>
	<string>OUT OF GOODBYES</string>
	<string>PAYPHONE</string>
	<string>SAD</string>
	<string>SHE WILL BE LOVED</string>
	<string>SUGAR</string>
	<string>SUNDAY MORNING</string>
	<string>THIS LOVE</string>
	<string>THIS SUMMER</string>
	<string>WAKE UP CALL</string>
	<string>WIPE YOUR EYES</string>
	<string>WONT GO HOME WITHOUT YOU</string>
	<string>THE WAY I WAS</string>
	<string>ANIMALS</string>
	<string>ANIMALS</string>
</array>
</plist>
